<p>
    <strong>Title:</strong>
    <%= @assignment.title %>
</p>

<p>
  <strong>Due Date:</strong>
  <%= @assignment.due_date %>
</p>

<p>
  <strong>Total Points:</strong>
  <%= @article.tot_points %>
</p>
